{#
/**
 * @file app_project.html.twig
 * Default theme implementation to present App project data.
 *
 * This template is used when viewing App project pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_app_project()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('app_project') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
